@model ProjectTest1.ViewModels.CategoryViewModel

<div class="modal fade" id="categoryDetailModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chi tiết danh mục</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3">
                    <label class="form-label fw-bold">Tên danh mục:</label>
                    <p class="form-control-plaintext">@Model.CategoryName</p>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold">Danh mục 1:</label>
                    <p class="form-control-plaintext">@Model.ParentName</p>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">Danh mục 2:</label>
                    <p class="form-control-plaintext">@Model.ParentName2</p>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">Trạng thái:</label>
                    <p class="form-control-plaintext">@((Model.IsActive) ? "Kích hoạt" : "Vô hiệu")</p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
