<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>hoc_java</display-name>
    <!-- Ví dụ thêm servlet khác -->
    <servlet>
        <servlet-name>DangNhap</servlet-name>
        <servlet-class>controller.dangNhapController1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DangNhap</servlet-name>
        <url-pattern>/dangnhap</url-pattern>
    </servlet-mapping>

    <!-- Trang mặc định -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Trang lỗi -->
    <error-page>
        <error-code>404</error-code>
        <location>/error404.html</location>
    </error-page>

</web-app>
